<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

 <section class="max-w-xl mx-auto bg-white p-6 rounded-md shadow-md">
    <h1 class="text-center mb-10 text-2xl text-gray-600">ADMIN</h1>

    <a href="/admin/novo-coteudo" class="px-4 py-1 text-blue-500 hover:underline block">Novo coteudo</a>
    <a href="/admin/atualizar-conteudo" class="px-4 py-1 text-blue-500 hover:underline block">Atualizar coteudo</a>
 </section>



    
</body>
</html>