<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-200">
    <section class="bg-white max-w-screen-lg m-auto min-h-screen p-10">
        <h1 class="text-center text-5xl text-gray-700">ADMIN</h1>


        <ul class="p-10">
            <li>
                <a href="/" class="my-2 text-blue-600  hover:underline">Home</a>
            </li>
            <li>
                <a href="/admin/registrar-conteudo" class="my-2 text-blue-600  hover:underline">Novo conteúdo</a>
            </li>
            <li>
                <a href="/admin/atualizar-conteudo" class="my-2 text-blue-600  hover:underline">Editar conteúdo</a>
            </li>
            <li>
                <a href="/admin/autoSaveFilm" class="my-2 text-blue-600  hover:underline">Scanear Filmes</a>
            </li>
            <li>
                <a href="/admin/autoSaveSerie" class="my-2 text-blue-600  hover:underline">Scanear Series</a>
            </li>
        </ul>
    </section>
</body>
</html>