<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Vídeos</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Lista de Vídeos</h1>

    <video width="320" height="240" controls>
      <source src="/videos/<%= src %>" type="video/mp4">
      Seu navegador não suporta o elemento de vídeo.
    </video>



</body>
</html>
