<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Serie</title>
    <link rel="shortcut icon" href="/images/ico.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-5xl">
        <h1 class="text-2xl font-bold mb-6 text-center">Cadastro de Serie</h1>

        <form id="serieForm" class="space-y-4">
            <div>
                <label for="name" class="block text-sm font-medium text-gray-600">Nome:</label>
                <input type="text" id="name" name="name" required class="mt-1 p-2 w-full border rounded">
            </div>

            <div>
                <label for="sinopse" class="block text-sm font-medium text-gray-600">Sinopse:</label>
                <input type="text" id="sinopse" name="sinopse" required class="mt-1 p-2 w-full border rounded">
            </div>

            <div>
                <label for="cover" class="block text-sm font-medium text-gray-600">Capa:</label>
                <input type="file" id="cover" required name="cover" accept="image/*" class="mt-1 p-2 w-full border rounded">
            </div>

            <button type="button" onclick="submitForm()" class="bg-blue-500 text-white p-2 rounded w-full">Cadastrar</button>
        </form>
        <br>
        <a href="/serie/newSeason"  class="text-blue-600 text-xs">Cadastrar nova temporada</a><br>
        <a href="/serie/page/1"  class="text-blue-600 text-xs">Listar Series</a><br>
        <a href="/serie/newEpisode"  class="text-blue-600 text-xs">Cadastrar novo episodio - Adicionar ID na url</a>

    </div>

    <script>
        function submitForm() {
            const formData = new FormData(document.getElementById('serieForm'));

            fetch('/serie/newSerie', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                // Verificar se a resposta não é um HTML (página de erro ou redirecionamento)
                if (!response.ok) {
                    throw new Error('Erro ao processar a solicitação.');
                }

                return response.json();
            })
            .then(data => {
                // Lidar com a resposta do servidor (opcional)
                console.log(data);
            })
            .catch(error => {
                console.error('Erro ao enviar a solicitação:', error.message);
            });
        }
    </script>
</body>
</html>
