<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Serie</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-5xl">
        <h1 class="text-2xl font-bold mb-6 text-center">Cadastro de Serie</h1>

        <form action="/serie/register" method="post" enctype="multipart/form-data" class="space-y-4">
            <div>
                <label for="name" class="block text-sm font-medium text-gray-600">Nome:</label>
                <input type="text" id="name" name="name" required class="mt-1 p-2 w-full border rounded">
            </div>

            <div>
                <label for="video" class="block text-sm font-medium text-gray-600">Arquivo:</label>
                <input type="file" id="video" required name="video" accept="video/*" class="mt-1 p-2 w-full border rounded">
            </div>

            <div>
                <label for="season" class="block text-sm font-medium text-gray-600">Temporada:</label>
                <input type="text" id="season" name="season"  required class="mt-1 p-2 w-full border rounded">
            </div>
            <div>
                <label for="episode" class="block text-sm font-medium text-gray-600">Episodio:</label>
                <input type="text" id="episode" name="episode"  required class="mt-1 p-2 w-full border rounded">
            </div>

            <div class="relative">
                <label for="metadata"  class="block text-sm font-medium text-gray-600">Metadata:</label>
                <select
                    id="metadata"
                    name="metadataId"
                    class="block appearance-none w-full bg-white border border-gray-300 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                    <option value="" disabled selected hidden>Selecione uma opção</option>

                    <% if (typeof metadataList !== 'undefined') { 
                        metadataList.map(element => { %>
                            <option value="<%= element._id %>"><%= element.name %></option>
                    <%  }); 
                    } %>
                    
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <!-- Ícone de seta para baixo -->
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M0 0h20v20H0z" fill="none" />
                        <path
                            d="M10 12l-6 6v-2H4v-4h4V6l6 6h-4zm0-10C5.6 2 2 5.6 2 10s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm1 12H9v2h2v-2z" />
                    </svg>
                </div>
            </div>
            
            <button type="submit" class="bg-blue-500 text-white p-2 rounded w-full">Cadastrar</button>
        </form>
    </div>
</body>
</html>
