<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Metadados</title>
    <link rel="shortcut icon" href="/images/ico.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 h-screen flex items-center justify-center">




    
    <div class="bg-white p-8 rounded shadow-md w-full max-w-5xl">
        <h1 class="text-2xl font-bold mb-6 text-center">Cadastro de Metadados</h1>

        <form action="/metadata/register" method="post" enctype="multipart/form-data" class="space-y-4">
            <div>
                <label for="name" class="block text-sm font-medium text-gray-600">Nome:</label>
                <input type="text" id="name" name="name" required class="mt-1 p-2 w-full border rounded">
            </div>

            <div>
                <label for="cover" class="block text-sm font-medium text-gray-600">Capa:</label>
                <input type="file" id="cover" name="cover" accept="image/*" class="mt-1 p-2 w-full border rounded">
            </div>

            <div>
                <label for="type" class="block text-sm font-medium text-gray-600">Tipo:</label>
                <input type="text" id="type" name="type" class="mt-1 p-2 w-full border rounded">
            </div>

            <div>
                <label for="releaseYear" class="block text-sm font-medium text-gray-600">Ano de Lançamento:</label>
                <input type="number" id="releaseYear" name="releaseYear" class="mt-1 p-2 w-full border rounded">
            </div>

            <div>
                <label for="genre" class="block text-sm font-medium text-gray-600">Gênero:</label>
                <input type="text" id="genre" name="genre" class="mt-1 p-2 w-full border rounded">
            </div>

            <div>
                <label for="creator" class="block text-sm font-medium text-gray-600">Criador:</label>
                <input type="text" id="creator" name="creator" class="mt-1 p-2 w-full border rounded">
            </div>

            <div>
                <label for="rating" class="block text-sm font-medium text-gray-600">Avaliação:</label>
                <input type="number" id="rating" name="rating" step="0.1" class="mt-1 p-2 w-full border rounded">
            </div>

            <div>
                <label for="synopsis" class="block text-sm font-medium text-gray-600">Sinopse:</label>
                <textarea id="synopsis" name="synopsis" rows="4" class="mt-1 p-2 w-full border rounded"></textarea>
            </div>

            <button type="submit" class="bg-blue-500 text-white p-2 rounded w-full">Cadastrar</button>
        </form>


    </div>
</body>
</html>
